body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    color: #000000;
}

.none{display: none;}

ul, li, a{list-style-type: none;}

.header {
    background: #FFFFFF;
  
}

.header a{
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-nav-link-studio {
    color: #2196F3;
}

.header-nav-link-portfolio {
    color: #2196F3;
}

.contact a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contact .contact-link {
    color: #757575;}

.contact .contact-link:hover,
.contact .contact-link:focus {
    color: #2196F3;
}

.banner {
    background: #2F303A;
    text-align: center;
}

.button {
    cursor: pointer;
}

.banner-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-button {
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.hi-banner-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.to-do {
    background-color: #f5f5f5;
}

.to-do-body {
    width: 270px;
    top: 774px;
}

.to-do-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.to-do-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-img
    {
       background-color: #FFFFFF;
    }

.work-img-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-img-list{}

.work-img-img {}

.team {
    background: #F5F4FA;
}

.team-comands {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.jobs-list {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-body {
    border-radius: 0px;
}

.name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.jobs-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background: #2F303A;
}

.footer a {
    text-decoration: none;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-studio {
    color: #FFFFFF;
}

.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact-link {
    font-style: normal;
    font-size: 14px;
    line-height: 24px1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: #2196F3;
}

.filter-list {
    background-color: #FFFFFF;
}

.filter-button-all {
    width: 73px;
    height: 38px;
    top: 174px;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}

.filter-button {
    width: 125px;
    height: 38px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}

.filter-title-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.filter-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.project-body {
    box-sizing: border-box;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.project-name-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.filter-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}








    



    